@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration:none;
}

 a:visited{
    text-decoration:none;
    color:rgb(69, 68, 68);
    }
    
    a:active{
    text-decoration:none;
    color: #013618;
    }

body{
	height: 100vh;
	width: 100%;
}

header a:hover{
	color:#079344;
	font-size: 25px;
	text-decoration:none;
	}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Times New Roman', Times, serif;
	background: #ffffff;
	height: 30vh;
	text-align: justify;
	overflow: hidden;
}

.nav-list {
	list-style: none;
	display: flex;
	margin: 200px auto;
}

.nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
	font-size: 20px;
	text-transform: uppercase;
	padding: 70px 30px;
 }

 #linha-horizontal {
	width: 100%;
	border: 1px solid rgb(89, 87, 87);
   }

.contact-box{
	max-width: 500px;
	width: 100%;
	background: #fff;
	margin: 20px auto;
	padding: 30px;
	font-family: 'Montserrat', sans-serif;
}

h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #2ecc71;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
   font-family: 'Montserrat', sans-serif;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
	color: gray;
	font-family: 'Montserrat', sans-serif;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
	font-family: 'Montserrat', sans-serif;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid #27ae60;
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
  
  .cadastro {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ebebeb;
    color: gray;
    border-radius: 15px;
	max-width: 500px;
	width: 100%;
	margin-left: 420px;
	font-family: 'Montserrat', sans-serif;
	
  }
  
  .cadastro div {
    display: none;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    text-align: center;
   font-family: 'Montserrat', sans-serif;
		
  }
  
  .cadastro div * {
    display: none;
    margin: 5px;
  }
#footer {
    width:100%;
    height: 60px;
    position: fixed;
    text-align: center;
    color: white;
    background-color: #013618;
    background-attachment: local;
    position: relative;
    padding-top: 8px;
    font-family: 'Montserrat', sans-serif;
}
