* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: rgb(69, 68, 68);
}

a:active {
  text-decoration: none;
  color: #079344;
}

a:hover {
  color: #079344;
  font-size: 28px;
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 40%;
  padding-top: 2%;
}

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  background: #ffffff;
  height: 35vh;
  text-align: justify;
  overflow: hidden;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 200px auto;
}

.nav-list li {
  letter-spacing: 1px;
  margin-left: 15px;
  font-size: 24px;
  text-transform: uppercase;
  padding:80px 30px;
}

.nav-list li::after {
  content: " ";
  width: 80%;
  height: 4px;
  background-color: #92ec92;
}

.logo {
  align-items: center;
  height:180px;
  width: 200px;
}

#search-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f0f0f0;
  height: 6%;
  width: 20%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#linha-horizontal {
  width: 100%;
  border: 1px solid rgb(89, 87, 87);
}

.box {
  display: inline-block;
  height: 330px;
  background-color: rgb(235, 232, 232);
  vertical-align: top;
  margin: 22px;
  padding: 12px;
  border: 1px solid rgb(208, 205, 205);
  box-sizing: border-box;
}

.box-img {
  display: block;
  width: 100%;
  height: 60%;
  margin-bottom: 2px;
  border: 2px solid rgb(208, 205, 210);
}

.botão-comentário {
  display: block;
  margin-left: 70px;
  margin-right: auto;
}

.botão-comentário a:not(.ignoreCss) {
  font-size: 15px;
}

.texto-box-img {
  text-align: center;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(46, 46, 46);
}

#footer {
  width: 100%;
  height: 70px;
  position: fixed;
  text-align: center;
  color: white;
  background-color: #013618;
  background-attachment: local;
  position: relative;
  padding-top: 9px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}