* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a:visited {
    text-decoration: none;
    color: rgb(69, 68, 68);
}

a:active {
    text-decoration: none;
    color: #079344;
}

a:hover {
    color: #079344;
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background: #ffffff;
    height: 30vh;
    text-align: justify;
    overflow: hidden;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 200px auto;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 70px 30px;
}

.nav-list li::after {
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #92ec92;
}

.logo {
    align-items: center;
    height: 210px;
    width: 220px;
}

#search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    height: 6%;
    width: 20%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 42%;
    left: 43%;

}

.busca {
    font-size: 18px;
    position: absolute;
    top: 60%;
    left: 20%;
    align-items: center;
}

.checkbox {
    border-radius: 0;
    cursor: pointer;
    appearance: none;
    width: 23px;
    height: 23px;
    outline: none;
    border: 3px solid gray;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: 22px;
}

.checkbox::before {
    content: " ";
    position: absolute;
    background: gray;
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: rotate(90deg);
    bottom: .5px;
    right: .7px;
    opacity: 0;
}

.checkbox:checked::before {
    opacity: 1;
}

.checkbox:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.rodape {
    width: 100%;
    height: 68px;
    position: absolute;
    text-align: center;
    color: white;
    background-color: #013618;
    background-attachment: local;
    top: 90%;
    padding-top: 9px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}